<div *ngIf="this._appService.LoginService.logindetails.type == '2'">
  <div class="clr-row">
    <div class="clr-col-lg-12">
      <div class="clr-row">
        <div class="clr-col-lg-4"></div>
        <div class="clr-col-lg-4" style="border:solid;border-width:thin;border-radius:2px; border-color:#CCCCCC;box-shadow: 5px 10px #DDDDDD;text-align:center">
          <h4><b>SELECT A USER</b></h4>
          <form clrForm [formGroup]="usersForm" style="display:inline-block;">
            <clr-radio-container>
              <clr-radio-wrapper *ngFor="let user of this._appService.TicketService.newTicketUserCount">
                <input type="radio" clrRadio formControlName="names" id="{{user.user}}" value="{{user.user}}" (change)="GetSelectedList()" />
                <label style="white-space:nowrap">{{user.user}} &nbsp;&nbsp;<span class="badge badge-orange">{{user.count}}</span></label>
              </clr-radio-wrapper>
            </clr-radio-container>
          </form>
          <br />
          <br />
          <br />
        </div>
        <div class="clr-col-lg-4"></div>
      </div>

    </div>
  </div>
  <br />
  <br />
  <clr-datagrid>
    <clr-dg-column>DateCreated</clr-dg-column>
    <clr-dg-column>From</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Reference</clr-dg-column>
    <clr-dg-column>Detail</clr-dg-column>
    <clr-dg-column>Category</clr-dg-column>
  
    <clr-dg-column>Level Of Importance</clr-dg-column>
    <clr-dg-column>Update</clr-dg-column>


    <clr-dg-row *ngFor="let ticket of this._selectedTicketLIst">
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.createDate}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.createDate}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.user}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.user}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.email}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.email}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.reference}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.reference}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">
        <button type="button" class="btn btn-icon btn-sm" aria-label="search" (click)="this.OpenTicketDetail(ticket)">
          <clr-icon shape="search"></clr-icon>
        </button>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">
        <button type="button" class="btn btn-icon btn-sm" aria-label="search" (click)="this.OpenTicketDetail(ticket)">
          <clr-icon shape="search"></clr-icon>
        </button>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.category}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.category}}</clr-dg-cell>

      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.importance}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.importance}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9"><button type="button" class="btn btn-icon btn-sm" (click)="OpenUpdate(ticket)"><clr-icon shape="note"></clr-icon></button></clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'"><button type="button" class="btn btn-icon btn-sm" (click)="OpenUpdate(ticket)"><clr-icon shape="note"></clr-icon></button></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{this._selectedTicketLIst.length}} Tickets</clr-dg-footer>
  </clr-datagrid>
</div>
<div *ngIf="this._appService.LoginService.logindetails.type == '3'">

  <br />
  <clr-datagrid>
    <clr-dg-column>DateCreated</clr-dg-column>
    <clr-dg-column>From</clr-dg-column>
    <clr-dg-column>Email</clr-dg-column>
    <clr-dg-column>Reference</clr-dg-column>
    <clr-dg-column>Detail</clr-dg-column>
    <clr-dg-column>Category</clr-dg-column>
    <clr-dg-column>Assigned To</clr-dg-column>
    <clr-dg-column>Level Of Importance</clr-dg-column>
    <clr-dg-column>Update</clr-dg-column>


    <clr-dg-row *ngFor="let ticket of this._appService.TicketService.newTickets">
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.createDate}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.createDate}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.user}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.user}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.email}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.email}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.reference}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.reference}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">
        <button type="button" class="btn btn-icon btn-sm" aria-label="search" (click)="this.OpenTicketDetail(ticket)">
          <clr-icon shape="search"></clr-icon>
        </button>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">
        <button type="button" class="btn btn-icon btn-sm" aria-label="search" (click)="this.OpenTicketDetail(ticket)">
          <clr-icon shape="search"></clr-icon>
        </button>
      </clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.category}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.category}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.assignedTo}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.assignedTo}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9">{{ticket.importance}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'">{{ticket.importance}}</clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance == 'High'" style="background-color:#F5DBD9"><button type="button" class="btn btn-icon btn-sm" (click)="OpenUpdate(ticket)"><clr-icon shape="note"></clr-icon></button></clr-dg-cell>
      <clr-dg-cell *ngIf="ticket.importance !== 'High'"><button type="button" class="btn btn-icon btn-sm" (click)="OpenUpdate(ticket)"><clr-icon shape="note"></clr-icon></button></clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{this._appService.TicketService.newTickets.length}} Tickets</clr-dg-footer>
  </clr-datagrid>
</div>
<clr-modal [(clrModalOpen)]="this.openDetailModel" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <h3 class="modal-title">{{this.selectedSubject}}</h3>
  <div class="modal-body">
    <h4>Ticket Requested From: {{this.selectedFrom}}</h4>
    <br />
    <h4>Messages:</h4>
    <p *ngFor="let msg of this._appService.TicketService.selectedThread"><i>{{msg.createDate}}</i>&nbsp;&nbsp;<b>{{msg.assignedTo}}</b> - {{msg.message}}</p>
  </div>
  <div class="modal-footer">
    <button *ngIf="this.hasDocs" type="button" class="btn btn-primary" (click)="DownloadAttachments()">
      <clr-icon shape="download"></clr-icon> Attachments
    </button>
    <button type="button" class="btn btn-success" (click)="OpenReplyBox()">
      REPLY
    </button>
    <button type="button" class="btn btn-primary" (click)="this.openDetailModel = false">
      OK
    </button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this.openReply" [clrModalClosable]="false"  [clrModalSize]="'xl'">
  <div class="modal-body">
    <h4>Reply To: {{this.selectedFrom}}</h4>
    <br />
    <form clrForm [formGroup]="msgForm">
      <div class="clr-row">
        <div class="clr-col-8">
          <clr-input-container>
            <label style="white-space:nowrap">Subject:&nbsp;&nbsp;&nbsp;{{this.selectedSubject}}</label>
          </clr-input-container>

        </div>
        <div class="clr-col-4">

        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-8">
          <clr-textarea-container>
            <label>Message</label>
            <textarea clrTextarea formControlName="msg" required cols="100" rows="7"></textarea>
          </clr-textarea-container>
        </div>
        <div class="clr-col-4">
          <ngx-dropzone #dropzone (change)="upload($event)" class="custom-dropzone" width="45%" joyrideStep="upload_6" text="Click here to browse for the files you need to upload or drag and drop your files onto this block." stepPosition="top">
            <ngx-dropzone-label style="color:#49AFD9">CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
          </ngx-dropzone>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-lg-12">
          <clr-datagrid>

            <clr-dg-column>File Name</clr-dg-column>
            <clr-dg-column>File Type</clr-dg-column>
            <clr-dg-column>File Size</clr-dg-column>
            <clr-dg-column>Last Modified</clr-dg-column>
            <clr-dg-column>Delete</clr-dg-column>
            <clr-dg-placeholder>No Files Uploaded Yet!</clr-dg-placeholder>
            <clr-dg-row *ngFor="let file of this.files">
              <clr-dg-cell style="word-wrap:break-word">{{file.name}}</clr-dg-cell>
              <clr-dg-cell style="word-wrap:break-word">{{file.type}}</clr-dg-cell>
              <clr-dg-cell>{{this.SizeCalc(file.size)}} mb</clr-dg-cell>
              <clr-dg-cell style="word-wrap:break-word">{{file.lastModifiedDate }}</clr-dg-cell>
              <clr-dg-cell>
                <button type="button" class="btn btn-icon btn-warning" aria-label="warning" (click)="Remove(file.name, file.type)">
                  <clr-icon shape="trash"></clr-icon>
                </button>
              </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>{{this.files.length}} Files</clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>

</form>


  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="this.openReply = false">
     CANCEL
    </button>
    <button type="button" class="btn btn-success" (click)="this.UploadFiles()">
      SEND
    </button>
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this.openUpdate" [clrModalClosable]="false" [clrModalSize]="'xl'">
  <div class="modal-body">

    <div class="clr-row">
      <div class="clr-col-12">
        <div class="card">
          <form clrForm [formGroup]="DetailsForm">
            <div class="card-block">
              <div class="card-text">
                <div class="clr-row">
                  <div class="clr-col-lg-2">
                    <b>Subject: </b><br />
                    <b>Reference: </b><br />
                  </div>
                  <div class="clr-col-lg-10">
                    {{this.selectedTicket.subject}}<br />
                    {{this.selectedTicket.reference}}<br />
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-lg-12">
                    <clr-select-container>
                      <label>Select Comment</label>
                      <select clrSelect formControlName="comments">
                        <option *ngFor="let com of this._appService.TicketService._commentList" [ngValue]="com.id">{{com.comment}}</option>
                      </select>
                    </clr-select-container>
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-lg-8">

                  </div>
                  <div class="clr-col-lg-4">
                    <div class="clr-row">
                      <div class="clr-col-lg-6">
                        <span><b>Client: </b></span><br />
                        <span><b>Initiator: </b></span><br />
                        <span style="color:red"><b>Changed by: </b></span> <br />
                      </div>
                      <div class="clr-col-lg-6">
                        <span>{{this.selectedTicket.clientIdDesc}}</span><br />
                        <span>{{this.selectedTicket.name}}&nbsp;{{this.selectedTicket.surname}}</span><br />
                        <span style="color:red">{{this.selectedTicket.changeby}}</span><br />
                      </div>
                    </div>

                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-12">
                    <clr-select-container>
                      <label>Assigned To:</label>
                      <select clrSelect formControlName="users" style="width:300px">
                        <option *ngFor="let user of this._appService.TicketService._adminUserList" [ngValue]="user.username">{{user.username}}</option>
                      </select>
                    </clr-select-container>
                    <br />

                  </div>
                </div>
              </div>
            </div>
            <hr style="border:solid;border-width:thin;border-radius:2px; border-color:#DDDDDD;" />

            <div class="card-block" >
              <div class="card-text">
                <div class="clr-row">
                  <div class="clr-col-lg-6">

                    <clr-select-container>
                      <label>Status:</label>
                      <select clrSelect formControlName="status" >
                        <option *ngFor="let st of this._appService.TicketService._status" [ngValue]="st.code">{{st.desc}}</option>
                      </select>
                    </clr-select-container>
                    <clr-textarea-container *ngIf="this.DetailsForm.get('status').value == '4'">
                      <label>Cancelation Reason:</label>
                      <textarea clrTextarea formControlName="msg" required cols="70" rows="5"></textarea>
                    </clr-textarea-container>
                    <clr-select-container>
                      <label>Category:</label>
                      <select clrSelect formControlName="category">
                        <option *ngFor="let cate of this._appService.TicketService._categories" [ngValue]="cate.id">{{cate.desc}}</option>
                      </select>
                    </clr-select-container>
                    <br />
                  </div>
                  <div class="clr-col-lg-6">
                    <clr-select-container >
                      <label>Duration:</label>
                      <select clrSelect formControlName="duration">
                        <option *ngFor="let dur of this._appService.TicketService._durations" [ngValue]="dur.minutes">{{dur.timeSpent}}</option>
                      </select>
                    </clr-select-container>
                    <clr-select-container  >
                      <label>Importance:</label>
                      <select clrSelect formControlName="importance">
                        <option *ngFor="let im of this._appService.TicketService._importance" [ngValue]="im.id">{{im.desc}}</option>
                      </select>
                    </clr-select-container>
                    <br />
                  </div>


                </div>
              </div>
            </div>
            <hr style="border:solid;border-width:thin;border-radius:2px; border-color:#DDDDDD;" />
            <div class="card-block">
              <div class="card-text">
                <div class="clr-row">
                  <div class="clr-col-lg-6">
                    Date Created:&nbsp;{{this.selectedTicket.createDate}}
                  </div>
                  <div class="clr-col-lg-6">
                    Date Changed:&nbsp;{{this.selectedTicket.changeDate}}
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
   





      



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="this.UpdateTicket()">
      Update
    </button>
    <button type="button" class="btn btn-primary" (click)="this.openUpdate = false">
      Cancel
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TicketService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../SageSupport/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this._appService.TicketService._Success"  [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Success</h3>
  <div class="modal-body text-center">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Ticket Updated Successfully!!!</span>
        </div>
      </div>
    </div>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TicketService._sending" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Sending..</h3>
  <div class="modal-body text-center">
    <img src="./../../../SageSupport/assets/images/message.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TicketService.error" [clrModalClosable]="true" [clrModalSize]="'md'">
  <h3 class="modal-title text-center">ERROR</h3>
  <div class="modal-body text-center">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Oops!!! It seems like something went wrong. Please send a screenshot of this error to the administrators of the website, for assistance. <br/>{{this._appService.TicketService.errorMessage}} </span>
        </div>
      </div>
    </div>
    <img src="./../../../SageSupport/assets/images/error.jpg" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>
