.custom-dropzone {
  height: 250px;
  background: #C5E5EF;
  color: #fff;
  border: 5px dashed #49AFD9;
  border-radius: 5px;
  font-size: 15px;
}

  .custom-dropzone.ngx-dz-hovered {
    border: 5px solid #0079B8;
  }
