<div class="clr-row">
  <div class="clr-col-3"></div>
  <div class="clr-col-6">

    <clr-datagrid>
      <clr-dg-column>ClientID</clr-dg-column>
      <clr-dg-column>Client Name</clr-dg-column>
      <clr-dg-column>Acronym</clr-dg-column>
      <clr-dg-column style="white-space:nowrap">Acknowledge Threshold</clr-dg-column>

      <clr-dg-row *ngFor="let code of this._appService.AdminService.clients" (click)="UpdateClient(code)"> 
        <clr-dg-cell>{{code.id}}</clr-dg-cell>
        <clr-dg-cell style="white-space:nowrap">{{code.name}}</clr-dg-cell>
        <clr-dg-cell>{{code.accronym}}</clr-dg-cell>
        <clr-dg-cell>{{code.threshold}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer><button class="btn btn-sm" (click)="CreateNew()">Add Client</button></clr-dg-footer>

    </clr-datagrid>

  </div>
  <div class="clr-col-3"></div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.AdminService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../SageSupport/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._openModel" [clrModalClosable]="false">
  <h3 class="modal-title">Client Details</h3>
  <div class="modal-body">
    <form clrForm [formGroup]="clientForm">
      <clr-input-container>
        <label>Name</label>
        <input clrInput formControlName="name" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Acronym</label>
        <input clrInput formControlName="acc" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label>Threshold</label>
        <input clrInput formControlName="thresh" />
        <clr-control-error>This field is required!</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="this._openModel = false">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="this.AddNewClient()" *ngIf="!this._edit" [disabled]="!this.clientForm.valid">Submit</button>
    <button type="button" class="btn btn-primary" (click)="this.UpdateExistClient()" *ngIf="this._edit">Update</button>
  </div>
</clr-modal>
