.login-wrapper {
  background-image: url(assets/b.jpg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position:right center;
}

  .login-wrapper .login {
    min-height: 70vh;
  }



