<div class="clr-row">
  <div class="clr-col-lg-2"></div>
  <div class="clr-col-lg-8 text-center">
    <br />
    <br />
    <div class="clr-row">
      <div class="clr-col-lg-6" style="margin:0 auto;position:relative">
          <div class="flip-card" style="float:right">
            <div class="flip-card-inner">
              <div class="flip-card-front">
                <img src="./../../../SageSupport/assets/images/Dash_1.png" style="width:100%; height: 100%"/>
              </div>
              <div class="flip-card-back">
                <span>
                  <br />
                  <img src="./../../../SageSupport/assets/images/Calander.png" style="border:solid #C1CDD4"/>
                  <br />
                  <br />
                  <span style="color:#314351;font-weight:bolder; font-size:large">
                    {{ time | date: 'yyyy/MM/dd' }}
                  </span>
                 
                  <br />

                  <span style="color:#314351;font-weight:bolder; font-size:large">
                    {{ time | date: 'hh:mm:ss a' }}
                  </span>
                  
                </span>
              </div>
            </div>
          </div>
      </div>
      <div class="clr-col-lg-6 text-left">
        <img src="./../../../SageSupport/assets/images/Dash_3.png" />
      </div>
    </div>
    <br />
    <div class="clr-row">
      <div class="clr-col-lg-6 text-right">
        <img src="./../../../SageSupport/assets/images/Dash_4.png" />
      </div>
      <div class="clr-col-lg-6 text-left">
        <img src="./../../../SageSupport/assets/images/Dash_2.png" style="width: auto; height: auto" />
      </div>
    </div>
    <!--<br />
    <br />
    <br />-->

  </div>

  <div class="clr-col-lg-2"></div>
</div>
