<div class="clr-row">
  <div class=" clr-col-md-12 ">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          Create a Ticket
        </div>
        <div class="card-text">
          <form clrForm [formGroup]="createForm">
            <div class="clr-row">
              <div class="clr-col-md-12">
                <clr-select-container>
                  <label>Category:</label>
                  <select clrSelect formControlName="category">
                    <option *ngFor="let cate of this._appService.TicketService._categories" [ngValue]="cate.id">{{cate.desc}}</option>
                  </select>
                  <clr-control-error>This field is required!</clr-control-error>
                </clr-select-container>
                <clr-select-container>
                  <label>Importance:</label>
                  <select clrSelect formControlName="importance">
                    <option></option>
                    <option *ngFor="let im of this._appService.TicketService._importance" [ngValue]="im.id">{{im.desc}}</option>
                  </select>
                  <clr-control-error>This field is required!</clr-control-error>
                </clr-select-container>
                <clr-input-container>
                  <label>Subject:</label>
                  <input clrInput formControlName="subject" style="width:350px" />
                  <clr-control-error>This field is required!</clr-control-error>
                </clr-input-container>

              </div>
            </div>
            <div class="clr-row">
              <div class="clr-col-md-8">
                <clr-textarea-container>
                  <label>Message</label>
                  <textarea clrTextarea formControlName="msg" required cols="100" rows="9"></textarea>
                  <clr-control-error>This field is required!</clr-control-error>
                </clr-textarea-container>
              </div>
              <div class="clr-col-md-4">
                <br />

                <ngx-dropzone #dropzone (change)="upload($event)" class="custom-dropzone" width="45%" joyrideStep="upload_6" text="Click here to browse for the files you need to upload or drag and drop your files onto this block." stepPosition="top">
                  <ngx-dropzone-label style="color:#49AFD9">CLICK OR DROP FILES HERE TO UPLOAD</ngx-dropzone-label>
                </ngx-dropzone>
              </div>
            </div>
            <br />

            <div class="clr-row">
              <div class="clr-col-md-12">
                <clr-datagrid>

                  <clr-dg-column>File Name</clr-dg-column>
                  <clr-dg-column>File Type</clr-dg-column>
                  <clr-dg-column>File Size</clr-dg-column>
                  <clr-dg-column>Last Modified</clr-dg-column>
                  <clr-dg-column>Delete</clr-dg-column>
                  <clr-dg-placeholder>No Files Uploaded Yet!</clr-dg-placeholder>
                  <clr-dg-row *ngFor="let file of this.files">
                    <clr-dg-cell style="word-wrap:break-word">{{file.name}}</clr-dg-cell>
                    <clr-dg-cell style="word-wrap:break-word">{{file.type}}</clr-dg-cell>
                    <clr-dg-cell>{{this.SizeCalc(file.size)}} mb</clr-dg-cell>
                    <clr-dg-cell style="word-wrap:break-word">{{file.lastModifiedDate }}</clr-dg-cell>
                    <clr-dg-cell>
                      <button type="button" class="btn btn-icon btn-warning" aria-label="warning" (click)="Remove(file.name, file.type)">
                        <clr-icon shape="trash"></clr-icon>
                      </button>
                    </clr-dg-cell>
                  </clr-dg-row>

                  <clr-dg-footer>{{this.files.length}} Files</clr-dg-footer>
                </clr-datagrid>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-primary btn-sm" [disabled]="!this.createForm.valid" (click)="SubmitTicket()">SUBMIT</button>
        <button class="btn btn-sm btn-secondary btn-sm" (click)="ClearAll()">CLEAR ALL FIELDS</button>
      </div>
    </div>
  </div>
</div>


<clr-modal [(clrModalOpen)]="this._appService.TicketService._busy" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Loading..</h3>
  <div class="modal-body text-center">
    <img src="./../../../SageSupport/assets/images/loading_2.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>


<clr-modal [(clrModalOpen)]="this._appService.TicketService._sending" [clrModalClosable]="false" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Sending..</h3>
  <div class="modal-body text-center">
    <img src="./../../../SageSupport/assets/images/message.gif" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TicketService._Success" [clrModalSize]="'sm'">
  <h3 class="modal-title text-center">Success</h3>
  <div class="modal-body text-center">
    <div class="alert alert-success" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">Ticket Submitted Successfully!!!</span>
        </div>
      </div>
    </div>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="this._appService.TicketService.error" [clrModalClosable]="true" [clrModalSize]="'md'">
  <h3 class="modal-title text-center">ERROR</h3>
  <div class="modal-body text-center">
    <div class="alert alert-danger" role="alert">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text">Oops!!! It seems like something went wrong. Please send a screenshot of this error to the administrators of the website, for assistance. <br/>{{this._appService.TicketService.errorMessage}} </span>
        </div>
      </div>
    </div>
    <img src="./../../../SageSupport/assets/images/error.jpg" alt="LOADING.." style="width:100%; height:100%;" />
  </div>
</clr-modal>
