<clr-main-container>
  <clr-header class="header header-1">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all;" width="200" height="55"></span>
      </a>
      <a href="#" class="nav-link">
        <span class="title" style="word-wrap: break-all;" width="200" height="55"></span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1" *ngIf="(this._appService.LoginService.logindetails.loggedIn == true ) && (this._appService.LoginService.logindetails.type != '0')">
      <a class="nav-link" href="#" [routerLink]="['/DashBoard']" routerLinkActive="active">
        <span class="nav-text">Dashboard</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/create']" routerLinkActive="active">
        <span class="nav-text">Create Ticket</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/all']" routerLinkActive="active">
        <span class="nav-text">Detail Ticket Information</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1" *ngIf="(this._appService.LoginService.logindetails.loggedIn == true ) && (this._appService.LoginService.logindetails.type == '0')">
      <a class="nav-link" href="#" [routerLink]="['/clients']" routerLinkActive="active">
        <span class="nav-text">Clients</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/users']" routerLinkActive="active">
        <span class="nav-text">Users</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/categories']" routerLinkActive="active">
        <span class="nav-text">Categories</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/catAssign']" routerLinkActive="active">
        <span class="nav-text">Category-Assignments</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/importance']" routerLinkActive="active">
        <span class="nav-text">Level Of Importance</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/status']" routerLinkActive="active">
        <span class="nav-text">Status Codes</span>
      </a>
      <a class="nav-link" href="#" [routerLink]="['/comments']" routerLinkActive="active">
        <span class="nav-text">Comments</span>
      </a>
    </div>
    <div class="header-actions" *ngIf="this._appService.LoginService.logindetails.loggedIn == true">
      <a class="nav-link" href="#" routerLinkActive="active">
        <span class="nav-text">Log Out</span>
      </a>
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          {{this._appService.LoginService.logindetails.username}}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a (click)="this._appService.LoginService.passwordChange = true" clrDropdownItem>Change Password</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav" *ngIf="(this._appService.LoginService.logindetails.loggedIn == true) && (this._appService.LoginService.logindetails.type != '0')" >
      <section class="sidenav-content">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/request']" (click)=" this._appService.TicketService.GetAllTickets()">
          <span class="nav-text">Requests</span>
        </a>
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/progress']" (click)=" this._appService.TicketService.GetAllTickets()">
          <span class="nav-text">In Progress</span>
        </a>
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/done']" (click)=" this._appService.TicketService.GetAllTickets()">
          <span class="nav-text">Done</span>
        </a>
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['/canceled']" (click)=" this._appService.TicketService.GetAllTickets()">
          <span class="nav-text">Canceled</span>
        </a>
        <br />
        <br />
        <br />
        <div class="clr-row" style="position:  relative; bottom: -10rem">
          <div class="clr-col-1"></div>
          <div class="clr-col-10 text-center" style=" box-shadow: 5px 10px #CCCCCC; background-image: url('./../SageSupport/assets/background.jpg')">
            <span style="color:white;font-size:small">
              <br />
              <b>
                "{{this._appService.LoginService.selectedQoute.desc}}"<br />
                <i> - {{this._appService.LoginService.selectedQoute.author}} -</i>
              </b>

            </span>
            <br />
            <br />
          </div>
          <div class="clr-col-1"></div>
        </div>
      </section>
    </nav>
  </div>
</clr-main-container>
